/*Establish same style formatting across all html webpages, regarding: 
font, text alignment, and background color*/
html, body {
	font-family: Arial, sans-serif, "Times New Roman";
	text-align: center;
	background-color: #B4BBBD;
	min-height: 100%;
	text-shadow: 2px 2px black;
}

/*Customize the initial appearance of a link, and once it is visited via events*/
a:link, a:visited {
	color: #2149DF;
	text-decoration: underline;
	text-shadow: none;
} 

/*Address link appearance when hovered over and active via events*/
a:hover, a:active {
	color: red;
} 

/*Customize header and footer style*/
header, footer {
	background-color: gold;
	padding: 1em;
}

/*Remove style from unordered lists*/
ul {
    list-style: none;
}

/*Remove style from lists of items*/
li {
    list-style: none;
}

/*
@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
*/

/*
@-ms-viewport{
  width: device-width;
  height: device-height;
}
*/

/*Custom element styling body of FLUID homepage*/
#container_index {
	width: auto;
	background-color: #B4BBBD;
	color: yellow;
}

/*Custom element styling header of FLUID timeline page*/
#header_cod {
	width: auto;
	background-color: black;
	color: white;
}

/*Custom element styling body of timeline page*/
#container_cod {
	width: auto;
	background-color: #101010;
   	background: url("../media/Flag over the Reichstag, Berlin 1945.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 2em;
}

/*Custom element styling the head of FLUID business page*/
#header_business {
	width: auto;
	background: url("../media/massage_studio.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0D2981;
	color: lime;
}

/*Custom element styling body of business page*/
#container_business {
	width: auto;
	background: url("../media/massage_studio.jpg") fixed; 
	background-repeat: no-repeat;
	background-size: cover;
    color: lime;
    text-shadow: 2px 2px black;
	padding: 2em;
}

/*Custom elements styling header of FLUID resume page*/
#header_resume {
	width: auto;
	background: url("../media/skyline.jpg") fixed; 
	background-repeat: no-repeat;	
	background-size: cover;
	color: white;
}
/*Custom elements styling body of FLUID resume page*/
#container_resume {
	width: auto;
	background: url("../media/skyline.jpg") fixed; 
	background-repeat: no-repeat;	
	background-size: cover;
	color: white;
	padding: 2em;
}

#gmap_canvas {
	margin: 0 auto 0 auto;
	color:black;
	text-shadow: none;
	height:500px;
	width:500px;
	overflow: hidden;
	max-width:none!important;
	background:none!important;
}