/*Establish same style formatting across all html webpages, regarding: 
font, text alignment, and background color*/
html, body {
	font-family: Arial, sans-serif, "Times New Roman";
	text-align: center;
	min-height: 100%;
	text-shadow: 2px 2px black;
}

a.custom {
	color: black!important;
}

a.custom:hover {
	color: #2149DF!important;
}

/*Customize the initial appearance of a link, and once it is visited via events*/
#link a:link, a:visited {
	color: #2149DF;
	text-decoration: underline;
	text-shadow: none;
} 

/*Remove hyperlink underlining for headers and footers*/
ul a:link { 
	text-decoration: none; 
}

/*Address link appearance when hovered over and active via events*/
#link a:hover, a:active {
	color: red;
} 

/*Customize header and footer style*/
header, footer {
	background-color: none;
	padding: none;
}

/*Remove style from unordered lists*/
ul {
    list-style-type: none;
    text-shadow: none;
    display: block;
    margin: 0;
    padding-top: 0.7%;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    height: 25px;
    background-color: gold;
    position: top; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

/*Remove style from lists of items*/
li {
    display: inline;
    border: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2px;
}

#link {
background-color: turquoise;
width:225px;
margin: auto;
padding-right:10px;
}

#header_index {
	width: auto;
	background: url("../media/Autumn.jpg") fixed; 
	background-repeat: no-repeat;
	background-size: cover;
}
/*Custom element styling body of FLUID homepage*/
#container_index { 
	width: auto;
	color: yellow;
	background: url("../media/Autumn.jpg") fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4em;
}

/*Custom element styling header of FLUID timeline page*/
#header_cod {
	width: auto;
	background: url("../media/Flag over the Reichstag, Berlin 1945.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Custom element styling body of timeline page*/
#container_cod {
	width: auto;
	background-color: #101010;
   	background: url("../media/Flag over the Reichstag, Berlin 1945.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 4em;
}

/*Custom element styling the head of FLUID business page*/
#header_business {
	width: auto;
	background: url("../media/massage_studio.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: lime;
}

/*Custom element styling body of business page*/
#container_business {
	width: auto;
	background: url("../media/massage_studio.jpg") fixed; 
	background-repeat: no-repeat;
	background-size: cover;
    color: lime;
    text-shadow: 2px 2px black;
	padding: 4em;
}

/*Custom elements styling header of FLUID resume page*/
#header_resume {
	width: auto;
	background: url("../media/skyline.jpg") fixed; 
	background-repeat: no-repeat;	
	background-size: cover;
	color: white;
}
/*Custom elements styling body of FLUID resume page*/
#container_resume {
	width: auto;
	background: url("../media/skyline.jpg") fixed; 
	background-repeat: no-repeat;	
	background-size: cover;
	color: white;
	padding: 4em;
}


#gmap_canvas {
	margin: auto;
	color:black;
	text-shadow: none;
	height: 500px;
	width: 500px;
	overflow: hidden;
	max-width:none!important;
	background:none!important;
}

	/*Responsive Design, Mobile-First*/
	/*Phone*/
	@media only screen and (min-width: 360px){
		head, body { 
			font-size: 12px;
			
		}
		
		#gmap_canvas {
		height: 300px;
		width: 300px;
		}
		
		#header_index, #header_business, #header_cod, #header_resume {	
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
		
		#container_index, #container_business, #container_cod, #container_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
	}
	
	
	/*Responsive Design*/
	/*Tablet*/
	@media only screen and (min-width: 720px){
		head, body{
			font-size: 14px;
			
		}
		#gmap_canvas {
		height: 400px;
		width: 400px;
		}
		#header_index, #header_business, #header_cod, #header_resume {
			min-height: 100%;
			min-width: 100%;
			margin: auto;
		}
		
		#container_index, #container_business, #container_cod, #container_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
	}
	
	/*Responsive Design*/
	/*Laptop*/
	@media only screen and (min-width: 1080px){
		head, body{
			font-size: 16px;		
		}
		#header_index, #header_business, #header_cod, #header_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
		
		#container_index, #container_business, #container_cod, #container_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
	}
		
	/*Responsive Design*/
	/*Desktop*/
	@media only screen and (min-width: 1440px){
		head, body{
			font-size: 18px;
			
		}
		#header_index, #header_business, #header_cod, #header_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
		
		#container_index, #container_business, #container_cod, #container_resume {
			min-height: 100%
			min-width: 100%;
			margin: auto;
		}
	
	}